@page "/counter"

<PageTitle>Counter - MobileNav Template</PageTitle>

<h1 class="no-margin">Counter</h1>

<p role="status" class="count no-margin">@CounterService.Count</p>

<div>
    Amount&nbsp;
    <input @bind="CounterService.Amount" />
</div>
<div class="mt-2">
    <button class="btn btn-primary mt-1" @onclick="CounterService.IncrementCount">Increase Count</button>
    <button class="btn btn-secondary mt-1" @onclick="CounterService.DecrementCount">Decrease Count</button>
    <button class="btn btn-danger mt-1" @onclick="CounterService.ResetCount">Reset Count</button>
</div>
<div class="mt-2">
    <span class="mt-1">Size</span>
    <button class="btn size-shape-btn-color mt-1" @onclick="(()=>SetCubeSize('T'))">XS</button>  <!-- 'T' for "Tiny" -->
    <button class="btn size-shape-btn-color mt-1" @onclick="(()=>SetCubeSize('S'))">S</button>
    <button class="btn size-shape-btn-color mt-1" @onclick="(()=>SetCubeSize('M'))">M</button>
    <button class="btn size-shape-btn-color mt-1" @onclick="(()=>SetCubeSize('L'))">L</button>
    <button class="btn size-shape-btn-color mt-1" @onclick="(()=>SetCubeSize('H'))">XL</button>  <!-- 'H' for "Huge" -->
</div>
<div class="mt-2">
    <span class="mt-1">Shape</span>
    <button class="btn size-shape-btn-color mt-1" @onclick="(()=>SetCubeShape('S'))">Square</button>
    <button class="btn size-shape-btn-color mt-1" @onclick="(()=>SetCubeShape('C'))">Circle</button>
    <button class="btn size-shape-btn-color mt-1" @onclick="(()=>SetCubeShape('D'))">Diamond</button>
</div>
<div class="mt-2">
    <span class="mt-1">Color</span>
    <button class="btn mt-1" @onclick="(()=>SetCubeColor('R'))" style="background-color: red;">&nbsp;&nbsp;&nbsp;</button>
    <button class="btn mt-1" @onclick="(()=>SetCubeColor('B'))" style="background-color: blue;">&nbsp;&nbsp;&nbsp;</button>
    <button class="btn mt-1" @onclick="(()=>SetCubeColor('G'))" style="background-color: green;">&nbsp;&nbsp;&nbsp;</button>
    <button class="btn mt-1" @onclick="(()=>SetCubeColor('Y'))" style="background-color: yellow;">&nbsp;&nbsp;&nbsp;</button>
    <button class="btn mt-1" @onclick="(()=>SetCubeColor('U'))" style="background-color: purple;">&nbsp;&nbsp;&nbsp;</button>
    <button class="btn mt-1" @onclick="(()=>SetCubeColor('I'))" style="background-color: deeppink;">&nbsp;&nbsp;&nbsp;</button>
</div>
<br/>
<div class="cube-container my-2">
    <div class="posicube-container">
        @for (int i = 0; i < @CounterService.Count; i++)
        {
            <div class="cube posicube @CubeShape" style="height: @CubeSize; width: @CubeSize; background-color: @CubeColor;"></div>
        }
    </div>
    <div class="negacube-container">
        @for (int j = 0; j > @CounterService.Count; j--)
        {
            <div class="cube negacube @CubeShape" style="height: @CubeSize; width: @CubeSize; background-color: @CubeColor;"></div>
        }
    </div>
</div>
